<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Cover</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
   
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <div class="content">
      <div class="book-cover">
        <div class="book-header">
          <span>O'REILLY</span><br />
          Kyle's way of critically thinking about every tiny bit of the language
          will creep into your mindset and general workflow -
          <strong>SHANE HUDSON</strong>
        </div>
        <div class="book-author">KYLE SIMPSON</div>
        <div class="book-title">SCOPE & CLOSURES</div>
        <div class="yellow-section">
          <div class="you-dont-know">YOU DON'T KNOW</div>
          <div class="js-text">JS</div>
        </div>
      </div>
    </div>
    <div class="footer">© 2021 Roy Horviz Nikita Sigalov</div>
  </body>
</html>
